.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.collapse-button {
	text-align: left;
	display: block;
	width: 100%;
    color: #fff;
    background-color: #6e757b;
    border-color: #6e757b;
	-webkit-appearance: button;
	margin: 0;
	border-radius: 0;
	font-family: inherit;
	font-size: inherit;
	line-height: inherit;
	box-sizing: border-box;
}

.fecha-puesto {
	font-family: cursive;
}
.position {
	font-family: cursive;
}

.personal-labels,
.site-label, .site-info, .sector-label, .sector-info,
.milestone-form, .position, .blank-tareas, .lista-tareas,
.competencies-label, .competencies-description {
	 display: inline-block;
	 padding: 5px 25px 5px 25px;
}

.personal-data, .foto-container {
	 display: inline-block;
	 padding: 5px 25px 5px 25px;
}

.milestone-form, .company-form, .sector-form, .blank-tareas,
.competencies-label, .personal-labels, .site-label, .sector-label {
	vertical-align: top;
	text-align: right;
	width: 30%;
}

.lista-tareas, .competencies-description, .site-info, .sector-info {
	width: 70%;
}

.personal-data {
	width: 40%;
}